mace/*
src/calculators/MACE/models/*
src/__pycache__/*
src/calculators/LAMMPS/__pycache__/*
src/calculators/MACE/__pycache__/*
colisiones_*xyz
colisiones/*xyz
experimentos/*
preliminares/*
otras/*
geometrias/*
primer_experimento/*
